# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg
.eggs/

# PyInstaller build output
builded_app/

# Virtual environments
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/

# Ruff
.ruff_cache/

# IA
PLANS/*
QWEN.md

# Local testing and example
LOCAL_SCRIPT/*

# Example until they are truly non-identifiable
example/example_patients/*/cdv_visu

